<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>e-Exam</title>
  </head>
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link rel="stylesheet" href="index.css" />
  <link
    href="https://fonts.googleapis.com/css2?family=Nerko+One&display=swap"
    rel="stylesheet"
  />
  <style>
    h1
    {
      margin-left: 30%;
    }
    form
    {
      margin-left: 5%;
    }
    h2
    {
      margin-left: 4%;
      margin-top: 3%;
    }
    label
    {
      margin-left: 1%;
    }
    input
    {
      margin-left: 4%;
    }
    button
    {
      margin-left: 30%;
      margin-top: 3%;
      width: 10%;
      height: 5%;
      border-radius: 10%;
    }
  </style>
  <body>
    <h1>Computer Network</h1>
    <form action="/cnanswer" method="POST">
      <h2><%=qs1%> </h2>
        <input type="radio" name="qs1" value="Star">
        <label for="Star">Star</label>
        <input type="radio"  name="qs1" value="Mesh">
        <label for="Mesh">Mesh</label>
        <input type="radio" name="qs1" value="TextFile">
        <label for="TextFile">Bus</label>
        <input type="radio" name="qs1" value="None">
        <label for="None">None</label>
      <h2><%=qs2%> </h2>
        <input type="radio" name="qs2" value="DataBase Cheacking">
        <label for="DataBase Cheacking">DataBase Cheacking</label>
        <input type="radio"  name="qs2" value="To detect errors">
        <label for="To detect errors">To detect errors</label>
        <input type="radio" name="qs2" value="To check files">
        <label for="To check files">To check files</label>
        <input type="radio" name="qs2" value="None">
        <label for="None">None</label>
      <h2><%=qs3%> </h2>
        <input type="radio" name="qs3" value="DDL">
        <label for="DDL">DDL</label>
        <input type="radio"  name="qs3" value="Database using DBMS principle">
        <label for="Database using DBMS principle">Database using DBMS principle</label>
        <input type="radio" name="qs3" value="TCL">
        <label for="TCL">TCL</label>
        <input type="radio" name="qs3" value="Hypertext transfer protocol">
        <label for="Hypertext transfer protocol">Hypertext transfer protocol</label>
      <h2><%=qs4%> </h2>
        <input type="radio" name="qs4" value="DDL">
        <label for="DDL">DDL</label>
        <input type="radio"  name="qs4" value="with external access">
        <label for="with external access">with external access</label>
        <input type="radio" name="qs4" value="TCL">
        <label for="TCL">TCL</label>
        <input type="radio" name="qs4" value="Data">
        <label for="Data">Data</label>
      <h2><%=qs5%> </h2>
        <input type="radio" name="qs5" value="DDL">
        <label for="DDL">DDL</label>
        <input type="radio"  name="qs5" value="Database using DBMS principle">
        <label for="Database using DBMS principle">Database using DBMS principle</label>
        <input type="radio" name="qs5" value="Firewall">
        <label for="Firewall">Firewall</label>
        <input type="radio" name="qs5" value="Data Record">
        <label for="Data Record">Data Record</label><br>
      <button type="submit">Submit</button>
      
    </form>
   
  </body>
</html>
